# Compiled sources
GMs/NGRP.amx
GMs/NGRP.zip

FSs/Mapping/PlayerInteriors.amx
FSs/Mapping/PlayerExteriors.amx
FSs/Mapping/PlayerExteriors.amx
FSs/Mapping/Server.amx
*.amx
FSs/Mapping/PlayerExteriors.amx
*.amx
GMs/includes/gangtags.pwn
.atom-build.json
*.zip
*.amx

GMs/NGRP.amx
*.amx
*.amx
GMs/NGRP.amx
